/* IMPORTO IL FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/////////// 
/// HEADER
/////////// 
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;

    .brand {
        text-align: center;
        vertical-align: middle;

        img {
            width: 80px;
        }
    }

    .btn-hamburger{
        border:1px solid #2e45cc !important;
    }

    .nav-item {
        font-size: 16px;
        font-weight: 500;
    }

    li {
        transition: border-bottom 0.5s;
    }

    .nav-link {
        transition: 0.2s;
        position: relative;
        text-decoration: none;

        &:hover {
            color: #04df6c;
            font-weight: 800;
            transform: scale(1.1);
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: background-color 0.4s, bottom 0.4s, color 0.4s;
        }

        &:hover::before {
            background-color: #04df6c;
            bottom: -3px;
        }
    }
}

// JUMBOTRON 
.img-jumbo {
    background-image: url('./public/img/banner-image.png');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.bg-jumbo {
    background-image: url('./public/img/banner-bg.png');
}

/////////// 
/// MAIN
///////////
// Caratteristiche
.column-text-img{
    h2{
        font-weight: 800;
        padding: 20px 20px 0;
    }

    p{
        padding: 0 20px;
    }

    img{
        width: 70%;
    }
}

// Recensioni
.review {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.review-text, .review-rating {
    font-size: 1.2rem;
}

.review-rating .fa {
    color: #ddd;

    &.checked {
        color: gold;
    }
}

.review-author {
    font-size: 0.9rem;
    color: #777;
}

// ACCORDION
.col-my-accordion{
    button{
        font-weight: 700;
        font-size: 20px;
    }
}

// QAULITA' PRODOTTO
svg{
    color: #2e45cc;
    width: 50px;
    height: 90px;
}

// FOOTER
.social-svg{
    svg{
        color: #04df6c;
        width: 50px;
        height: 50px;
        border: 1px solid #bebebe;
        border-radius: 50%;
        padding: 0 10px;
        transition: transform 0.4s, color 0.4s;

        &:hover {
            transform: scale(1.2);
            color: #2e45cc;
        }
    }
}

.svg-send {
    svg{
        color: #04df6c;
        width: 50px;
        height: 50px;
    }
}
