@import url('stylescss.scss');

/* REGOLE CSS GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d3a38;
    font-weight: 900;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

p, span {
    color: #3d3a38;
    font-weight: 400;
}

/**** MEDIA QUERY - RESPONSIVE DESIGN ****/
/* RESPONSIVE PHONE TABLET */
@media (max-width: 992px) {
    h1, h2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .nav-link::before {
        width: 0 !important;
    }
}